<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Manager | Manage Toppings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="banner">
        <br>
        <h3>
            PIZZA MANAGER
        </h3>
        <a href="{{ url_for('main.manage_pizzas') }}" title="Manage Pizzas">Manage Pizzas</a>
        <br><br>
        <a href="{{ url_for('main.manage_toppings') }}" title="Manage Toppings">Manage Toppings</a>
        <br><br>
        <a href="{{ url_for('main.create_pizza') }}" title="Create A Pizza">Create A Pizza</a>
        <br><br><br>
    </div>

    {% for message in get_flashed_messages() %}
    <p> {{message}} </p>
    {% endfor %}
    <hr/>
    <br>

    <form action="{{ url_for('main.manage_toppings') }}" method="POST">
        <label for="topping-name">Add A Topping</label>
        <br>
        <input type="hidden" name="topping-id" value="{{ topping.id }}">
        <input type="text" name="topping-name" placeholder="Topping Name" value="{{ topping.name }}" maxlength = "{{ MAX_STRING_LENGTH }}" id="textInput">
        <br>
        <input type="submit" value="Add" id="update">
    </form>
    <br><br>

    <table class="center">
        <thead>
            <tr>
                <th>Available Toppings</th>
            </tr>
        </thead>
        <tbody>
            {% for topping in toppings %}
                <tr>
                    <td>{{ topping.name }}</td>
                    <td>
                        <form action="{{ url_for('main.edit_topping', topping_id=topping.id) }}" method="POST">
                            <input type="submit" value="Update" id="update">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('main.delete_topping', topping_id=topping.id) }}" method="POST">
                            <input type="submit" value="Delete" id="delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>